
#container {width: 640px; margin:0 auto;}
#puzzle {width: 640px; height: 640px; margin: 0 auto; position:relative;}
#puzzle div {width: 160px; height: 160px; position: absolute; background: url('/assets/img/lion.png')}

#puzzle .blank = {background: 0 none;}

#puzzle .piece_0 {left:0; top: 0;}
#puzzle .piece_1 {left:160px; top: 0; background-position: -160px 0;}
#puzzle .piece_2 {left: 320px; top: 0; background-position: -320px 0;}
#puzzle .piece_3 {left: 480px; top:0; background-position: -480px 0;}

#puzzle .piece_4 {left:0px; top: 160px; background-position: 0 -160px;}
#puzzle .piece_5 {left:160px; top: 160px; background-position: -160px -160px;}
#puzzle .piece_6 {left:320px; top: 160px; background-position: -320px -160px;}
#puzzle .piece_7 {left:480px; top: 160px; background-position: -480px -160px;}

#puzzle .piece_8 {left:0px; top: 320px; background-position: 0 -320px;}
#puzzle .piece_9 {left:160px; top: 320px; background-position: -160px -320px;}
#puzzle .piece_10 {left:320px; top: 320px; background-position: -320px -320px;}
#puzzle .piece_11 {left:480px; top: 320px; background-position: -480px -320px;}

#puzzle .piece_12 {left:0px; top: 480px; background-position: 0 -480px;}
#puzzle .piece_13 {left:160px; top: 480px; background-position: -160px -480px;}
#puzzle .piece_14 {left:320px; top: 480px; background-position: -320px -480px;}
#puzzle .piece_15 {left:480px; top: 480px; background-position: -480px -480px;}
